.registrationLeft_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1560BD 0%, #0d5dbb 35%, #2174e0 50%, #8a96e3 130%);
    box-sizing: border-box;
    padding-right: 200px;
}

.registrationLeft_container_title {
    color: white;
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}

.registrationLeft_container_btns {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    gap: 20px;
    margin-top: 20px;
}

.btns_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    background: rgba(75, 137, 214, 0.3);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 17px;
    transition: background 0.3s ease;
    color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
}

.btns_info:hover {
    background: rgba(75, 137, 214, 0.5);
}

.btns_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-left {
    margin-right: 10px;
    flex-shrink: 0;
}

.btns_info_header span {
    flex-grow: 1;
    margin-left: 10px;
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
}

.text.open {
    max-height: 500px;
    transition: max-height 0.5s ease;
    padding: 10px 10px;
}

.register_strelka {
    transition: transform 0.3s ease;
}

.register_strelka.rotate {
    transform: rotate(180deg);
}

.icon-left {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

@media (max-width: 768px) {
    .registrationLeft_container {
        padding: 10px;
    }

    .registrationLeft_container_btns {
        width: 100%;
    }
}
