
.headerBlock {
    display: flex;
    gap: 300px;
    height: 79px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    box-shadow: 12px 0 12px 0 #00000014;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 102px;

}

.headerLeft{
    padding-top: 29px;
    display: flex;
    gap: 46px;
    padding-left: 40px;
}
.headerRight{
    display: flex;
    gap: 82px;
    justify-content: center;
    align-items: center;
}
.leftBlock{
    display: flex;
}
.leftBlockImg{
    width: 24px;
    height: 24px;
}
.headerText{
    color: #858C96;
}
.headerText:hover{
    color: #1560BD;
}

.headerTextActive{
    color: #1560BD;
}
.headerTextActive + .block{
    display: block;
    height: 6px;
    width: 40px;
    background: #1560BD;
    border-radius: 4px 4px 0 0;
    margin: 22px auto 0;
}

.headerTextLogin{
    color: #1560BD;
}
