@import './font/manrope/stylesheet.css';
#root{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.appBlock{*/
/*    width: 100%;*/
/*}*/
@media screen and (min-width: 1400px){
    .appBlock{
        width: 100%;
    }
}
body{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.containerApp{
    display: flex;
    width: 100%;
}
.error-message{
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
}